@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

   
<div class="center_content">
       <form action="/Admin/VerifyLogin" method="post">
           <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
           
   <h2>User Name</h2><input type="text" id="email" name="email"/><br/><br/>
   <h2>Password</h2><input type="password" id="password" name="password"/>
           
        <input type="submit" value="Login"/>
           </form>

                  
        </div>
   
  