@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}  @section tab{
<div id="menu_tab">
            <div class="left_menu_corner"></div>
                    <ul class="menu">
                         <li><a href="/Home/index" class="nav1 style4">  Home </a></li>
                         <li class="divider"></li>
                         <li><a href="/Home/index" class="nav2 style4">Products</a></li>
                         <li class="divider"></li>
                         <li><a href="/Account/SignUp" class="nav4 style4">Sign Up</a></li>
                         <li class="divider"></li>                         
                         <li><a href="/Home/About" class="nav5 style4">About </a></li>
                         <li class="divider"></li>
                         <li><a href="/Home/contact" class="nav6 style4">Contact Us</a></li>
                         <li class="divider"></li>
                         <li><a href="/Account/Login" class="nav4 style4">Login</a></li>
                         <li class="divider"></li>
                    </ul>


            </div><!-- end of menu tab -->
    }
      @section left {
    <div class="left_content">
    <div class="title_box">Categories</div>
    
        <ul class="left_menu">
        <li class="even"><a href="/User/Laptops">Laptop</a></li>
         <li class="odd"><a href="/User/WebCam">Webcam</a></li>
         
         <li class="even"><a href="/User/Mobile">Mobile Phones</a></li>
        </ul> 
        
   
}      
   <div class="center_content">
       
     <h2>About Electronix</h2>

      <p style="font-size:20px">Its Shopping Site Developed By </p>
      <p style="font-size:20px" > BITF11A017</p>
   	  </div>

@section cartTab{
        <div class="right_content">
   		<div class="shopping_cart">
        	<div class="cart_title style5">Shopping cart</div>
            
            <div class="cart_details">
            <h2>View Cart</h2>
                 <br />
           @* <span class="border_cart"></span>
            Total: <span class="price">350$</span>*@
           </div>
            
            <div class="cart_icon"><a href="/Account/Login" title="header=[Checkout] body=[&nbsp;] fade=[on]"><img src="~/images/shoppingcart.png" alt="" title="" width="48" height="48" border="0" /></a></div>
        
        </div>
}